__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

venv/
env/
ENV/
*.env

*.lock

*.log
*.pot
*.pyc

.vscode/
.idea/

*.log
local_settings.py

*/migrations/__pycache__/
*/migrations/*.py[cod]

docker-compose.override.yml
.dockerignore

postgres_data/

.DS_Store

node_modules/
